<!-- Default home page -->
<!-- Header -->
<header>
    <div class="row" id="banner">
        <div class="col-lg-12 text-center">
            <div class="banner-description">
                <h1>MeU Updater</h1>
                <p>Update your attendees in real time</p>
                <p><a class="btn btn-primary btn-lg" href="/event/demo" role="button">Try the Demo</a></p>
            <div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
			</div>
		</div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                MeU Updater allows event coordinators to easily send information to event attendees. Users are allowed to automatically set update times to MeU LED arrays worn by event volunteers. Event coordinators can also immediately broadcast information to all subscribed MeU's to provide the best possible event experience.
            </div>
        </div>
		<div class="row" style="padding-top: 50px">
			<div class="col-md-4 text-center">
				<h3> MeU </h3>
				<h4> LED Matrix</h4>
                <a href="https://github.com/MeULEDs/MeU_Long_Teensy_WS2812_v3">
                    <img src="/images/MEU.png" width=200 height=200/>
                </a>
			</div>
				
			<div class="col-md-4 text-center">
				<h3> Web App </h3>
				<h4> Event Management Portal </h4>
                <a href="/event/demo">
				    <img src="/images/database.png" width=200 height=200/>
                </a>
			</div>
				
			<div class="col-md-4 text-center">
				<h3> Android </h3>
				<h4> Pushes data to MeU </h4>
                <a href="/images/MeuUpdater.apk">
                    <img src="/images/android.jpg" width=200 height=200/>
                </a>
			</div>
        </div>
        <div class="row" style="padding-top: 40px">
            <div class="col-md-offset-2 col-md-8">
                The MeU connects to your phone via bluetooth connection. Your phone then is able to listen to new updates on the internet and tell the MeU. Simply use the supplied apk to run the application and connect to your MeU device, which should run the supplied arduino code. After that you are good to go! 
            </div>
        </div>
    </div>
</section>