<!-- Default home page -->
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron text-center">
                  <h1>MeU Schedule Updater</h1>
                  <p>Update your attendees in real time</p>
                  <p><a class="btn btn-primary btn-lg" href="/event/demo" role="button">Try the Demo</a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="workings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>How it works</h2>
                <hr class="star-light">
            </div>
        </div>
    </div>
</section>